{% extends 'layout.html' %}
{% block content %}
<div class="jumbotron" align="center">
    <h1 class="display-4 text-info">Payment list</h1>
    {% for key, value in Payment.items %}
        <div class="text-info">
            <div class="d-inline p-4">{{ value.ACCNumber }}</div>
            <div class="d-inline p-2">{{ value.Name }}</div>
            <div class="d-inline"><img src="{{ value.Pic }}" alt="{{ value.Bank }}" width="2%"></div>
        </div>
    {% endfor %}
</div>
{% endblock %}